body{
    background-color:gray;
}

h1{
    color: red;
    text-align: center;
    text-decoration: underline;
    text-decoration: solid;
}

h2{
    color: blue;
}

li{
    color: green;
    text-transform: capitalize;
}

input{
    width: 200px;
    height: 35px;
    border-radius: 20px;
    color: chocolate;
}

input::placeholder{
    color:cyan;
}